
<mat-card class="box" style="padding: 50px;">
    <mat-card-header>
      <mat-card-title style="margin-left: -25px;">Create Ticket</mat-card-title>
    </mat-card-header>
    <div class="login-form">
      <form class="example-form"  [formGroup]="create" (ngSubmit)="createTicket()" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Manager Id"  formControlName="managerId" value={{logData.id}} readonly>
          </mat-form-field><br>
          <mat-form-field >
            <mat-label>Select Project</mat-label>
            <mat-select (valueChange)="getEmployee($event)" formControlName="projectId">
              <mat-option *ngFor="let i of data" [value]="i.project_id">
                {{i.project_name}}
              </mat-option>
            </mat-select>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>Select Employee</mat-label>
            <mat-select formControlName="employee_id">
                <mat-option *ngFor="let i of employee" [value]="i.employee_id">
                  {{i.employee_Name}}
                </mat-option>
              </mat-select>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Description"  formControlName="ticket_description">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date" formControlName="start_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="end" [min]="minDate" placeholder="Choose a date" formControlName="end_date">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end ></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button style="color: #3EB489;" type="submit"  class="btn-block" [disabled]="create.invalid">Create</button>  
        <button type="button" class="btn btn-default" data-dismiss="modal" mat-dialog-close="false">Close</button>
        <!-- <button type="button" class="btn-close" disabled aria-label="Close"></button> -->
         <!-- <button type="button" class="close" >close</button>
         -->
         <!-- <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button> -->
         <!-- <button type="button"  (mousedown)="close()">Close</button> -->

      </form>
    </div>
  </mat-card>