<mat-card class="box" style="padding: 50px;">
    <mat-card-header>
      <mat-card-title>Are you sure?</mat-card-title>
      <br>
    </mat-card-header>
    <div class="login-form">
        <mat-card-content >
            <button mat-stroked-button style="color: red; " type="submit" mat-dialog-close="true" class="btn-block">Yes</button>
            <button mat-stroked-button style="color: #3EB489;" type="submit" mat-dialog-close="false" class="btn-block">No</button>
        </mat-card-content>
        <!-- <button mat-stroked-button style="color: #3EB489;" type="submit" mat-dialog-close="true" class="btn-block">Update</button> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" mat-dialog-close="false">Close</button> -->
        <!-- <button type="button" class="btn-close" disabled aria-label="Close"></button> -->
         <!-- <button type="button" class="close" >close</button>
         -->
         <!-- <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button> -->
         <!-- <button type="button"  (mousedown)="close()">Close</button> -->
    </div>
  </mat-card>