.table-data{
    width:100%;

    opacity: .9;
}
.row-data:hover{
    background-color: aqua;
}


/* .background{
    background-image: url(../../kseniya-lapteva-vopD-CchWbk-unsplash.jpg);
    height: 100%;
    width: 100%;
    margin-top: -270px;
    background-repeat: no-repeat;
    background-size: 120rem 35rem;

} */