<div class="background">
  <nav class="navbar navbar-dark navbar-expand-md bg-success justify-content-between">
    <div class="container-fluid">
        <a href="/edit" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">Admin Dashboard</a>
    </div>
    <div class="my-2 my-lg-0">
      <button class="btn btn-primary my-2 my-sm-0" style="width: 100px;" (click)="logout()">Log Out</button>  
    </div>
</nav>
    <h1 style="text-align: center; margin-top: 80px; font-weight: bolder ;">Employee Data Management</h1>
  <div class="table-data">
    <div class="row">
      <button class="btn btn-primary" style="margin-left: auto; margin-bottom: 15px; width: 130px;" (click)="addUser()">+ Add User</button>  
    </div>
    
   <table mat-table [dataSource]="data" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let data"> {{data.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let data"> {{data.Name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Mobile">
          <th mat-header-cell *matHeaderCellDef> Mobile</th>
          <td mat-cell *matCellDef="let data"> {{data.Mob_num}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Designation">
          <th mat-header-cell *matHeaderCellDef> Designation</th>
          <td mat-cell *matCellDef="let data"> {{data.Designation}}</td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let data"> {{data.Email}}</td>
          </ng-container>
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Delete/Edit</th>
            <td mat-cell *matCellDef="let data" ><button  class="btn btn-danger" (click)="deleteData(data)"><mat-icon aria-hidden="false" >delete</mat-icon></button> <button style="margin-left: 5px;" class="btn btn-warning" (click)="editData(data)"><mat-icon>edit</mat-icon></button></td>
          </ng-container>
       <tr mat-header-row  *matHeaderRowDef="columns"></tr>
       <tr mat-row *matRowDef="let row; columns: columns;"></tr>
     </table>
 
</div>
</div>
