<div class="login-wrapper" style="display: flex; justify-content: space-between;" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title style="margin-left:50px;">{{formdata.project_name}}</mat-card-title>
      </mat-card-header>
      <div class="login-form">
        <form class="example-form">
          <mat-card-content style="margin-bottom: -25px;">

                <h2>Manager Name: <span style="color:red">{{formdata.manager_name}}</span></h2> 
                <h2>Manager Id: <span style="color:red">{{formdata.manager_id}}</span></h2> 
                <h2>Team Members:</h2> 
                <ul *ngFor="let i of team">
                    <h3><li>{{i.employee_Name}}</li></h3>
                </ul>
            
          </mat-card-content>
          <!-- <button mat-stroked-button style="color: #3EB489;margin-left: 80px;" type="submit" class="btn-block"  mat-dialog-close="true" (click)="navigateToTicket()">Assign Tickets</button> -->
        </form>
      </div>
    </mat-card>
  </div>