 <div class="wrapper">
    <div class="home-wrapper ">
        <app-dashboard></app-dashboard>
    <div class="row">
        <div class="col-sm-4">
            <!-- <div class="calender" style="display: flex; width: 100%; flex-shrink: 0;">  -->
                <!-- <<mat-card class="demo-inline-calendar-card">
                    <mat-calendar [(selected)]="selected"></mat-calendar>
                  </mat-card> -->
                  <!-- <app-linechart></app-linechart> -->
            </div>
        </div>
    </div>
</div>
<!-- </div>  -->

<div fxFlex="40">
    <app-pie [data]="pieChart"></app-pie>
</div>

<div>
    <app-area [data]="bigChart"></app-area>
</div>

<br>

<!-- <mat-divider></mat-divider> -->

<br>

<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-card label="New Users" total="12k" percentage="50" [data]="cards"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-card label="Referral" total="6k" percentage="20" [data]="cards"></app-card>
    </mat-card>
</div> -->

<br>

<!-- <mat-divider></mat-divider> -->

<br>
<!-- 
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
        <div class="mat-elevation-z8">
            <table mat-table  [dataSource]="dataSource"> -->

                <!-- Position Column -->
                <!-- <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container> -->

                <!-- Name Column -->
                <!-- <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container> -->

                <!-- Weight Column -->
                <!-- <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container> -->

                <!-- Symbol Column -->
                <!-- <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>

    </div> -->

  
<!-- </div>  -->
<!-- </div> -->

<br>
<br>
<br>
   
<!-- <mwl-calendar-month-view [cellTemplate]="cellTemplateId" /> -->
