<h1>Create Project</h1>
<mat-card class="box" style="padding: 50px;">
    <mat-card-header>
      <mat-card-title>Create Project</mat-card-title>
    </mat-card-header>
    <div class="login-form">
      <form class="example-form" [formGroup]="create" (ngSubmit)="createProject()" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Project Name"  formControlName="proName">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Manager Name"  formControlName="managerName" readonly>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Manager Id"  formControlName="managerId" readonly>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Select Team</mat-label>
                <mat-select matNativeControl required formControlName="team" multiple="">
                  <mat-option>
                    <lib-mat-select-search>
                        [list]="emp"
                        [searchProperties]="Name"
                        (filtered)="filteredData = $event">
                    </lib-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let i of emp" [value]="i.Id">
                    <div class="country-container">
                      <span>{{i.Name}}</span><span style="float:right;">{{i.Id}}</span>
                    </div>
                  </mat-option>
                </mat-select> 
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Status"  formControlName="Status" readonly>
          </mat-form-field><br>
        </mat-card-content>
        <button mat-stroked-button style="color: #3EB489;" type="submit"  class="btn-block" >Create Project</button>  
        <button type="button" class="btn btn-default" data-dismiss="modal" mat-dialog-close="false">Close</button>
        <!-- <button type="button" class="btn-close" disabled aria-label="Close"></button> -->
         <!-- <button type="button" class="close" >close</button>
         -->
         <!-- <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button> -->
         <!-- <button type="button"  (mousedown)="close()">Close</button> -->

      </form>
    </div>
  </mat-card>