.login-wrapper{
    /* margin-top: 200px; */
    background-image: url(../../carlos-muza-hpjSkU2UYSU-unsplash.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 120rem 80rem;
}
/* .login-form{
    background-color: #fff; 
    padding: 10px ;
    border-radius: 10px;
} */
.box{
    padding: 50px;
    opacity: .8;
    margin-bottom: 150px;
}