<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <div class="login-form">
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" >
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="User Id" formControlName="user_name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button style="color: #3EB489;" type="submit" class="btn-block">Log in</button>
        </form>
      </div>
    </mat-card>
  </div>