<div class="row">
    <app-sidenav></app-sidenav>
    <div class="background">
        <div class="table-data">
          <h1 style="text-align: center;font-weight: bold;margin-top: 70px;">Leave Request</h1>
            <br>
          <div class="row">
            <button class="btn btn-primary" style="margin-left: auto; margin-right: 20px; margin-bottom: 15px; width: 50px;;" (click)="refresh()" ><mat-icon>refresh</mat-icon></button>  
          </div>
          <div >
            <table mat-table [dataSource]="data" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="Manager Name">
                  <th mat-header-cell *matHeaderCellDef>Manager Name</th>
                  <td mat-cell *matCellDef="let data"> {{data.Manager_name}} </td>
                </ng-container>
                <ng-container matColumnDef="From">
                  <th mat-header-cell *matHeaderCellDef> From </th>
                  <td mat-cell *matCellDef="let data"> {{data.From_date}} </td>
                </ng-container>
                <ng-container matColumnDef="To">
                  <th mat-header-cell *matHeaderCellDef> To</th>
                  <td mat-cell *matCellDef="let data"> {{data.To_date}} </td>
                </ng-container>

                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef> Description</th>
                  <td mat-cell *matCellDef="let data"> {{data.Description}}</td>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>status</th>
                    <td mat-cell *matCellDef="let data"> {{data.Status}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef>Delete</th>
                    <td mat-cell *matCellDef="let data" ><button  class="btn btn-danger" (click)="deleteData(data)"><mat-icon aria-hidden="false" >delete</mat-icon></button></td>
                  </ng-container>
               <tr mat-header-row  *matHeaderRowDef="columns"></tr>
               <tr mat-row *matRowDef="let row; columns: columns;"></tr>
             </table>

          </div>
          <div class="row">
            <button class="btn btn-primary" style="margin-left: auto; margin-top: 25px; margin-right: 20px;  width: 130px;" (click)="applyLeave()" >Request leave</button> 
          </div>
          
         
      </div>
      </div>
      
</div>

 