<app-dashboard></app-dashboard>
<div class="table-data">
    <h1 style="text-align: center;font-weight: bold;">Leave Request</h1>
  <div class="row">
    <table mat-table [dataSource]="data" class="mat-elevation-z8 " style="width: 100%;">

      <ng-container matColumnDef="Leave Id">
        <th mat-header-cell *matHeaderCellDef>Leave Id</th>
        <td mat-cell *matCellDef="let data"> {{data.Leave_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Employee Id">
        <th mat-header-cell *matHeaderCellDef>Employee Id </th>
        <td mat-cell *matCellDef="let data"> {{data.Employee_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Employee Name">
        <th mat-header-cell *matHeaderCellDef> Employee Name</th>
        <td mat-cell *matCellDef="let data"> {{data.Employee_name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let data"> {{data.Description}} </td>
      </ng-container>

      <ng-container matColumnDef="From Date">
        <th mat-header-cell *matHeaderCellDef> From Date</th>
        <td mat-cell *matCellDef="let data"> {{data.From_date}} </td>
      </ng-container>

      <ng-container matColumnDef="To Date">
        <th mat-header-cell *matHeaderCellDef> To Date</th>
        <td mat-cell *matCellDef="let data"> {{data.To_date}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">  
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let data"> {{data.Status}}</td>
      </ng-container>
      
      <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action</th>
      
          <td mat-cell  *matCellDef="let data" >
            <mat-select style="height:35px;" (valueChange)="changeValue($event,data)">
            <mat-option value="accept">Approve</mat-option>
            <mat-option value="decline">Reject</mat-option>
          </mat-select> </td>
        </ng-container>
      <tr mat-header-row  *matHeaderRowDef="columns"></tr>
      <tr mat-row style="margin-top: 10px;"  *matRowDef="let row; columns: columns;"></tr>
    </table>

  </div>
 
</div>