
<mat-card class="box" style="padding: 50px;">
    <mat-card-header>
      <mat-card-title>Request Leave</mat-card-title>
    </mat-card-header>
    <div class="login-form">
      <form class="example-form"  [formGroup]="leaveForm"  >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Employee Id"  formControlName="employee_id">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Manager Id"  formControlName="Manager_id">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date" formControlName="From_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="end" [min]="minDate" placeholder="Choose a date" formControlName="To_date">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end ></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Description"  formControlName="Description">
          </mat-form-field><br>
        </mat-card-content>
        <button mat-stroked-button style="color: #3EB489;" type="submit" mat-dialog-close="true" class="btn-block" [disabled]="leaveForm.invalid" (click)="leaveData()">Send Request</button>  
        <button type="button" class="btn btn-default" data-dismiss="modal" mat-dialog-close="false" (click)="close()">Close</button>
      </form>
    </div>
  </mat-card>