<div class="row wrapper">
  <app-dashboard></app-dashboard>
  <div class="background">
    <div class="table-data">
      <h1 style="text-align:center;font-weight: bold;">Tickets Available</h1>
      <div class="row">
        <button class="btn btn-primary" style="margin-left: auto; margin-bottom: 15px; width: 130px;" (click)="createTicket()" >Create Ticket</button>  
      </div>
      
     <table mat-table [dataSource]="data" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="Project Id">
          <th mat-header-cell *matHeaderCellDef>Project Id</th>
          <td mat-cell *matCellDef="let data"> {{data.projectId}} </td>
        </ng-container>
          <ng-container matColumnDef="Ticket Id">
            <th mat-header-cell *matHeaderCellDef>Ticket Id</th>
            <td mat-cell *matCellDef="let data"> {{data.ticket_id}} </td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let data"> {{data.ticket_description}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Start Date">
            <th mat-header-cell *matHeaderCellDef> Start Date</th>
            <td mat-cell *matCellDef="let data"> {{data.start_date}} </td>
          </ng-container>
      
          <ng-container matColumnDef="End Date">
            <th mat-header-cell *matHeaderCellDef> End Date</th>
            <td mat-cell *matCellDef="let data"> {{data.end_date}}</td>
          </ng-container>
          <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let data"> {{data.status}}</td>
            </ng-container>
            <ng-container matColumnDef="Close">
                <th mat-header-cell *matHeaderCellDef>Close</th>
                <!-- <td mat-cell *matCellDef="let data"> {{data.Email}}</td> -->
                <td mat-cell *matCellDef="let data" ><button  class="btn btn-danger" (click)="closeTicket(data)" *ngIf="data.status !== 'Closed';else elseBlock " >close</button> </td>
                <!-- <td mat-cell *matCellDef="let data" > <p *ngIf="data.status === 'Closed'">-</p> </td> -->
                <ng-template #elseBlock style="margin-left: 10px;">------</ng-template>
              </ng-container>
          <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef> Delete</th>
              <td mat-cell *matCellDef="let data" ><button  class="btn btn-danger" (click)="deleteTicket(data)" ><mat-icon aria-hidden="false" >delete</mat-icon></button></td>
            </ng-container>
         <tr mat-header-row   *matHeaderRowDef="columns"></tr>
         <tr mat-row *matRowDef="let row; columns: columns;" ></tr>
       </table>
       <!-- <mat-paginator  [pageSize]="10" (page)="onPageChnage($event)"> -->
      <!-- </mat-paginator> -->
  </div>
  </div>
  
</div>
