.table-data{
    width:100%;
    /* margin-left:290px; */
    /* margin-top: -800px; */
    opacity: .9;
    margin-top: 120px;
}
/* .wrapper{
    background-image: url(../../../kseniya-lapteva-vopD-CchWbk-unsplash.jpg);
} */