<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Change Status</mat-card-title>
      </mat-card-header>
      <div class="login-form">
        <form class="example-form" [formGroup]="status" (ngSubmit)="edit()" >
          <mat-card-content>
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select matNativeControl required formControlName="changestatus">
                    <mat-option value="On progress">On progress</mat-option>
                    <mat-option value="For Review">For Review</mat-option>
                  </mat-select> 
              </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button style="color: #3EB489;" type="submit" class="btn-block" mat-dialog-close="true" [disabled]="status.invalid">change status</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" mat-dialog-close="false" (click)="close()">Close</button>
        </form>
      </div>
    </mat-card>
  </div>