<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/projectlist">PMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="/projectlist">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ticketlist">Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaverequest">Request Leave</a>
        </li>
      </ul>
    </div>
    <div class="my-2 my-lg-0">
      <button class="btn btn-primary my-2 my-sm-0"(click)="logout()">Log Out</button>  
    </div>
  </nav>