<div class="row wrapper">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
      <a class="navbar-brand" href="/home">PMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
         
          <li class="nav-item">
            <a class="nav-link" href="/project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tickets">Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/request">Request Leave</a>
          </li>
        </ul>
      </div>
      <div class="my-2 my-lg-0">
        <button class="btn btn-primary my-2 my-sm-0"(click)="logout()">Log Out</button>  
      </div>
      
    </nav>
  
    <!-- <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle" style="height:40px;"><mat-icon>menu</mat-icon></button> 
  
          <mat-select style="width: 25px;" name="" id="">
            <mat-option><img src="../../../carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="img" class="profile"></mat-option>
            <mat-option  >Log out</mat-option>
          </mat-select>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div> -->
  </div>

</div> 
