<h1>Create</h1>
<mat-card-content>
  <mat-card class="box" style="padding: 50px;">
    <mat-card-header>
      <mat-card-title>Create User</mat-card-title>
    </mat-card-header>
    <div class="login-form">
      <form class="example-form"  [formGroup]="create" (ngSubmit)="addData()" >
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Id"  formControlName="Id">
              </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username"   formControlName="Name">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email"  formControlName="Email">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password"  formControlName="Password">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Mobile"  formControlName="Mob_num"><br>
            <span *ngIf="Mobile && Mobile.touched && Mobile.invalid" style="font-size: x-small; color: red;">*Provide a vaild Mobile Number</span>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Designation</mat-label>
                <mat-select matNativeControl required formControlName="Designation">
                  <mat-option value="Employee">Employee</mat-option>
                  <mat-option value="Manager">Manager</mat-option>
                </mat-select> 
          </mat-form-field><br>
        </mat-card-content>
        <button mat-stroked-button style="color: #3EB489;" type="submit"  class="btn-block" [disabled]="create.invalid" >Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" mat-dialog-close="false">Close</button>
        <!-- <button type="button" class="btn-close" disabled aria-label="Close"></button> -->
         <!-- <button type="button" class="close" >close</button>
         -->
         <!-- <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button> -->
         <!-- <button type="button"  (mousedown)="close()">Close</button> -->

      </form>
    </div>
  </mat-card>

</mat-card-content>
