<div class="row wrapper">
    <app-sidenav></app-sidenav>
    <div class="background">
      <div class="table-data">
        <h1 style="text-align: center;font-weight: bold;">Ticket List</h1>
       <table mat-table [dataSource]="data" class="mat-elevation-z8" style="width: 100%;">
          <ng-container matColumnDef="Project Id">
            <th mat-header-cell *matHeaderCellDef>Project Id</th>
            <td mat-cell *matCellDef="let data"> {{data.projectId}} </td>
          </ng-container>
            <ng-container matColumnDef="Ticket Id">
              <th mat-header-cell *matHeaderCellDef>Ticket Id</th>
              <td mat-cell *matCellDef="let data"> {{data.ticket_id}} </td>
            </ng-container>
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let data"> {{data.ticket_description}} </td>
            </ng-container>
            <ng-container matColumnDef="Manager Id">
                <th mat-header-cell *matHeaderCellDef>Manager Id</th>
                <td mat-cell *matCellDef="let data"> {{data.managerId}} </td>
              </ng-container>
            <ng-container matColumnDef="Start Date">
              <th mat-header-cell *matHeaderCellDef> Start Date</th>
              <td mat-cell *matCellDef="let data"> {{data.start_date}} </td>
            </ng-container>
            <ng-container matColumnDef="End Date">
              <th mat-header-cell *matHeaderCellDef> End Date</th>
              <td mat-cell *matCellDef="let data"> {{data.end_date}}</td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let data"> {{data.status}}</td>
              </ng-container>
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef>Edit Status</th>
                <td mat-cell *matCellDef="let data" ><button  class="btn btn-danger" (click)="editTicket(data)" ><mat-icon aria-hidden="false" >edit</mat-icon></button></td>
              </ng-container>
           <tr mat-header-row   *matHeaderRowDef="columns"></tr>
           <tr mat-row *matRowDef="let row; columns: columns;"></tr>
         </table>
         <!-- <mat-paginator  [pageSize]="10" (page)="onPageChnage($event)"> -->
         <!-- </mat-paginator> -->
    </div>
    </div>
    
  </div>
  