/* .content{
    margin-top: -650px;
    margin-left: 250px;
    position: fixed;
} */
/* #wrap{
    min-width: 600px;
} */
/* .mat-header-row, .mat-row{
    width: 25px;
} */
.table-data{
    width:100%;
    opacity: .9;
    margin-top: 120px;
}
mat-table{
    text-align:center;
    font-size:11px;
    font-family: Verdana,Sans-Serif;
    color: #1a084c;
    width: 600px;
      height: 300px;
      overflow:auto;    
   }
   mat-header-cell, mat-header-row, .mat-header-cell-def{
    min-height:25px;
    font-family:Verdana,sans-serif;
    font-weight:bold;
    font-size:13px;
    color: #1a084c;
    margin-bottom:5px;
     top: 0;
      position: sticky;
      z-index: 1;
      background-color: inherit;
  }