/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';   
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import '@coreui/dist/css/coreui.min.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
/* tr.mat-row :hover{
    background-color: #3EB489;
} */
.mat-row:hover .mat-cell {
    background-color: gray;
  }

  .mat-header-cell{
    min-height:25px;
    font-family:Verdana,sans-serif;
    font-weight:bold;
    font-size:13px;
    color: black;
    margin-bottom:5px;
     top: 0;
      position: sticky;
      z-index: 1;
      background-color: inherit;
  }
  
  .nav-item :hover{
    font-weight: bold;
    font-size: medium;
  }