
<app-sidenav></app-sidenav>
<div class="table-data">
  <h1 style="text-align: center;font-weight: bold;">Project List</h1>
  <div class="row">
    <table mat-table [dataSource]="data" class="mat-elevation-z8 " style="width: 100%;">

      <ng-container matColumnDef="Project_Id">
        <th mat-header-cell *matHeaderCellDef>Project Id</th>
        <td mat-cell *matCellDef="let data"> {{data.project_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Project_Name">
        <th mat-header-cell *matHeaderCellDef>Project Name </th>
        <td mat-cell *matCellDef="let data"> {{data.project_name}} </td>
      </ng-container>
      <ng-container matColumnDef="Manager Id">
        <th mat-header-cell *matHeaderCellDef> Manager Id</th>
        <td mat-cell *matCellDef="let data"> {{data.manager_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Manager_Name">
        <th mat-header-cell *matHeaderCellDef> Manager Name</th>
        <td mat-cell *matCellDef="let data"> {{data.manager_name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let data"> {{data.status}}</td>
      </ng-container>
      
      <tr mat-header-row  *matHeaderRowDef="columns"></tr>
      <tr mat-row style="margin-top: 10px;" (click)="clickedRows(row)" *matRowDef="let row; columns: columns;"></tr>
    </table>

  </div>
 
</div>