<h1>Edit Data</h1>
<mat-card class="box" style="padding: 50px;">
    <mat-card-header>
      <mat-card-title>Update</mat-card-title>
    </mat-card-header>
    <div class="login-form">
      <form class="example-form"  [formGroup]="update" (ngSubmit)="updateData()" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username"  formControlName="Name">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Mobile"  formControlName="Mob_num">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Email"  formControlName="email">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Designation</mat-label>
                <mat-select matNativeControl required formControlName="Designation">
                  <mat-option value="Employee">Employee</mat-option>
                  <mat-option value="Manager">Manager</mat-option>
                </mat-select> 
          </mat-form-field><br>
        </mat-card-content>
        <button mat-stroked-button style="color: #3EB489;" type="submit"  class="btn-block" [disabled]="update.invalid">Update</button>  
        <button type="button" class="btn btn-default" data-dismiss="modal" mat-dialog-close="false">Close</button>
        <!-- <button type="button" class="btn-close" disabled aria-label="Close"></button> -->
         <!-- <button type="button" class="close" >close</button>
         -->
         <!-- <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button> -->
         <!-- <button type="button"  (mousedown)="close()">Close</button> -->

      </form>
    </div>
  </mat-card>